<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleJSON" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogJsonTemplate.json" maxStringLength="2000"/>
        </Console>
    </Appenders>
    <Loggers>

        <Root additivity="false">
            <AppenderRef ref="ConsoleJSON"/>
        </Root>

        <Logger name="com.chano" additivity="false">
            <AppenderRef ref="ConsoleJSON"/>
        </Logger>

    </Loggers>

</Configuration>
